/App.HttpApi/obj
/App.HttpApi/bin/Debug/*.pdb
/Test/obj
/Test/bin/*.pdb
/App.HttpApi.Test/obj
/.vs
/Nuget/TestNuget/TestNuget/obj
/Nuget/TestNuget/packages
/packages
/Nuget/TestNuget/.vs
/NetCore/App.HttpApiCore/obj
/NetCore/App.HttpApiCore.Test/obj
